/*1*/
.border {
    border: 5px solid orange;
    border-radius: 10px;

}
.head-block {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-left: 10px;
}
.head-block .block2{
    color: grey;
    background: yellowgreen;
    font-size: 80px;
   display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    
    
}
    
img {
    display: inline-block;
    width: 20%;
    border: 5px solid orange;
    border-radius: 10px;
        	
}
.right-block {
    display: inline-block;
    color: yellowgreen;
    background: gray;
    font-size: 50px;
    width: 20%;
    vertical-align: top;
    text-align: center;
    height: 270px;
    margin-left: 10px;
    
    
}
.menu {
    min-height: 120px;
    background: gray;
    text-align: center;
    
}
li {
    display: inline-block;
    border: 5px solid green;
    border-radius: 5px;
    background: yellow;
    color: darkorange;
    text-transform: uppercase;
    
    
}


