table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}
.left-clear {
    width: 12%;
    min-height: 150px;
    background-color: #4a4e69;
}
.center {
    background-color: #22223b;  
}
.right-clear {
    width: 12%;
    min-height: 150px;
    background-color: #4a4e69;
}
.logo {
    background-color: #22223b;
    min-height: 150px;
    padding-left: 50px; 
}
.h-link {
    vertical-align: top;
    text-align: right;
    width: 40px;
    padding: 10px 0 0 0;
}
.header-link {
    background-color: #22223b;
    color: #d3d3d6;
    border-right: 1px solid #d3d3d6;
    line-height: 11px;
    padding: 0 5px 0 0;
    text-decoration: none;
}
.last-link {
    border: none;
    padding: 0 15px 0 5px;
}
.header-link:hover {
    color: #99FF66;
}

.left-clear-content {
    width: 12%;
    min-height: 500px;
    background: linear-gradient(to bottom, #9ba8b7 1%, #ffffff 99%);
}
.main-content {
    background: linear-gradient(to bottom, #bdf4ff 1%, #ffffff 99%);
    min-height: 500px; 
}
.h-left {
    color: #8ac6d0;
    font-size: 20px;
    padding-left: 30px;
}
.left-col {
    width: 270px;
}
.menu-link {
    color: #4a4e69;
    font-size: 20px;
    padding: 25px 30px 10px 0;
}
.menu-link:hover {
    color: #00ffff;
}
.last-link {
    width: 250px;
}
.block {
    vertical-align: top;
    padding-left: 30px;
    padding-right: 30px;
}
h1 {
    color: #22223b;
 }
h2 {
    color: #22223b;
}
    
.content1 {
    text-indent: 20px;
    padding-right: 70px;
}
.content2 {
    text-indent: 10px;
    text-align: justify;
    padding-right: 70px;
}
content-cel {
    vertical-align: top;
}
.right-clear-content {
    width: 12%;
    min-height: 500px;
    background: linear-gradient(to bottom, #9ba8b7 1%, #ffffff 99%);
}
.left-clear-footer {
    width: 12%;
    min-height: 150px;
    background-color: #4a4e69;
}
.main-footer {
    background-color: #22223b;
    min-height: 150px;
    padding-bottom: 25px;
    padding-top: 115px;
}

.left-foot {
    color: #8ac6d0;
    vertical-align: bottom;
    text-align: left;
    padding-left: 25px;
}
.right-foot {
    color: #140e0e;
    vertical-align: bottom;
    text-align: right;
    padding-right: 25px;  
}
.right-clear-footer {
    width: 12%;
    min-height: 150px;
    background-color: #4a4e69;  
}

