.full-header {
    background-color: #4a4e69;
    width: 100%;
    min-height: 150px;     
}
.main-header {
    background-color: #22223b;
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
    min-height: 150px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-links {
    width: 100%;
    text-align: right; 
    margin: 0;
    padding: 0;
}
.link:hover {
    color: #99FF66;
}
li {
    display: inline;
}
.link {
    display: inline-block;
    color: #d3d3d6;
    border-right: 1px solid #d3d3d6;
    padding: 0 5px 0 0;
    line-height: 11px;
    margin-top: 20px;
    text-decoration: none;
}
.last-link {
    border: none;
    margin-right: 25px;
}
.logo {
    width: 155px;
    height: 90px;
    margin-left: 50px;
}
.full-content {
    width: 100%;
    min-height: 500px;
    background: linear-gradient(to bottom, #9ba8b7 1%, #ffffff 99%);
}
.main-content {
    background: linear-gradient(to bottom, #bdf4ff 1%, #ffffff 99%);
    width: 76%;
    min-height: 500px;
    margin-left: 12%;
    margin-right: 12%;
}
.main-content .left-column {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 25px;
}
.h-left {
    color: #8ac6d0;
    font-size: 20px;
}
.cont-img {
    float: left;
    width: 86px;
    height: 74px;
    background-color: #8ac6d0; 
    margin: 0 15px 0 0;
}
img .cont-img {
    width: 86px;
    height: 74px;
}
.block {
   margin-top: 30px;
}
.main-content .right-column {
    display: inline-block;
    width: 65%;
    vertical-align: top;
    
}
li .menu-link {
    color: #4a4e69;
    font-size: 20px;
    display: inline-block;
    padding: 25px 30px 10px 0;
}
.menu-link:hover {
    color: #00ffff;
h1 {
    color: #22223b;
}
h2 {
    color: #22223b;
}
.content1 p {
    text-indent: 20px;
}
.content2 p {
    text-indent: 10px;
    text-align: justify;
}
.full-footer {
    background-color: #4a4e69;
    width: 100%;
    min-height: 150px;
}
.main-footer {
    background-color: #22223b;
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
    min-height: 150px;
}
.main-footer .left-foot {
    display: inline-block;
    width: 47%;
    padding-left: 25px;
    padding-top: 115px;
    color: #8ac6d0;   
}
.main-footer .right-foot {
    display: inline-block;
    width: 48%;
    text-align: right;
    padding-right: 25px;
    padding-top: 115px;
    color: #140e0e;
    } 

